In [12]:
import math

from IPython import display
from matplotlib import cm
from matplotlib import gridspec
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from sklearn import metrics
import tensorflow as tf
from tensorflow.python.data import Dataset

In [65]:
tf.logging.set_verbosity(tf.logging.ERROR)
pd.options.display.max_rows = 10
pd.options.display.float_format = '{:.1f}'.format

In [66]:
california_housing_dataframe = pd.read_csv("https://storage.googleapis.com/mledu-datasets/california_housing_train.csv", sep=",")

In [67]:
california_housing_dataframe = california_housing_dataframe.reindex(
    np.random.permutation(california_housing_dataframe.index))
california_housing_dataframe["median_house_value"] /= 1000.0
california_housing_dataframe

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
10746,-120.7,35.3,32.0,896.0,240.0,548.0,231.0,2.5,165.9
3501,-117.9,33.9,34.0,1396.0,245.0,661.0,261.0,4.7,215.4
12107,-121.4,37.7,40.0,859.0,196.0,427.0,176.0,3.6,110.4
1911,-117.3,34.1,39.0,1989.0,401.0,805.0,341.0,2.4,90.0
7013,-118.3,33.9,32.0,2421.0,671.0,1491.0,587.0,3.6,242.3
...,...,...,...,...,...,...,...,...,...
12884,-121.8,39.2,25.0,3819.0,702.0,1983.0,658.0,2.4,72.5
6213,-118.2,34.0,40.0,1193.0,280.0,1210.0,286.0,1.4,89.5
6162,-118.2,34.2,36.0,2507.0,517.0,1232.0,470.0,5.5,241.3
15272,-122.3,37.9,52.0,957.0,188.0,403.0,172.0,3.2,245.5
9789,-119.7,36.8,21.0,1260.0,182.0,583.0,205.0,6.0,150.8

In [68]:
california_housing_dataframe.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.0,17000.0,17000.0,17000.0,17000.0,17000.0,17000.0,17000.0,17000.0
mean,-119.6,35.6,28.6,2643.7,539.4,1429.6,501.2,3.9,207.3
std,2.0,2.1,12.6,2179.9,421.5,1147.9,384.5,1.9,116.0
min,-124.3,32.5,1.0,2.0,1.0,3.0,1.0,0.5,15.0
25%,-121.8,33.9,18.0,1462.0,297.0,790.0,282.0,2.6,119.4
50%,-118.5,34.2,29.0,2127.0,434.0,1167.0,409.0,3.5,180.4
75%,-118.0,37.7,37.0,3151.2,648.2,1721.0,605.2,4.8,265.0
max,-114.3,42.0,52.0,37937.0,6445.0,35682.0,6082.0,15.0,500.0